*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
#counter{
    display: block;
    text-align: center;
    font-size: 10em;
    color: black;
}
#btncontainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    color: white;
    background-color: #66aefb;
    border: none;
    font-size: 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.buttons:hover{
    background-color: #4a8fdc;
}